# Data Science & ML
pandas
numpy
scikit-learn
xgboost
lightgbm
matplotlib
scipy

# API & UI
flask
streamlit
requests

# Project Utilities
python-dotenv
joblib
pickle5
tqdm

# Data Ingestion & Tracking
kaggle
dagshub
mlflow
dvc[s3]

# Async AWS (The strict conflict makers)
aiobotocore[boto3]
s3fs