# Web Framework & UI
flask
streamlit

# Machine Learning & Processing
pandas
numpy
scikit-learn
joblib

# Data & Tracking
dagshub
mlflow
kaggle

# Cloud & Storage (Strict dependencies)
aiobotocore[boto3]
s3fs