name: CI Pipeline

on: 
  push:
    branches: [ main ]

jobs: 
  ci-flow:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env: 
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      DAGSHUB_API_TOKEN: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      DAGSHUB_USER_TOKEN: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
      KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install DVC and Dependencies
      run: |
        pip install --upgrade pip
        pip install dvc[s3] 
        pip install -r requirements.txt

    - name: Pull Data from S3
      run: |
        dvc pull -r myremote

    - name: Run DVC Pipeline
      run: |
        dvc repro -f

    - name: Push Data and Metadata
      run: |
        dvc push -r myremote
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add dvc.lock
        git diff --quiet && git diff --staged --quiet || (git commit -m "Build: auto-update dvc.lock [skip ci]" && git push)

    # --- AWS ECR STEPS ---

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Push Docker Image to ECR
      if: success()
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com/satyajeet_ecr_registery:latest
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com/satyajeet_ecr_registery:${{ github.run_number }}