name: CI Pipeline
on: 
    push:
      branches: [ main ]

jobs: 
  ci-flow:
    runs-on: ubuntu-latest
    steps:
    - name: checkout-repo
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
       pip install -r requirements.txt

    - name: pull data from S3
      run: |
       dvc pull
    - name: run dvc Pipeline
      run: |
       dvc repro

       


